:root{
  background-color: #f5f5f5;
  background-image: url("../public/Png/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
}


